/* Reset básico */
.navbar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #111;
  color: white;
  padding: 0.8rem 0.8rem;
  position: sticky;
  z-index: 200;
  top: 0;
}

.navbar__logo {
  height: 45px;
  object-fit: fill;
}

.navbar__links {
  display: flex;
  gap: 1.5rem;
}

.navbar__links a {
  text-decoration: none;
  color: white;
  font-weight: 500;
  transition: color 0.3s;
}

.navbar__links a:hover {
  color: var(--color-primary);
}

.navbar__right {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.navbar__cart {
  position: relative;
  cursor: pointer;
}

.cart-count {
  position: absolute;
  top: -8px;
  right: -10px;
  background: #ae3235;
  color: white;
  border-radius: 50%;
  font-size: 12px;
  width: 18px;
  height: 18px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.navbar__toggle {
  display: none;
  background: none;
  border: none;
  color: white;
  cursor: pointer;
}

/* WhatsApp button flotante */
.whatsapp-button {
  position: fixed;
  bottom: 20px;
  right: 20px;
  background-color: #25d366;
  color: white;
  padding: 0.8rem 1.2rem;
  border-radius: 100px;
  font-weight: bold;
  text-decoration: none;
  box-shadow: 0 4px 10px rgba(0, 0, 0, 0.3);
  z-index: 999;
  display: flex;
  align-items: center;
  gap: 1rem;
  transition: background 0.3s;
}

.whatsapp-button:hover {
  background-color: #1ebd59;
}

.whatsapp-icon {
  font-size: 1.5rem;
 
}

/* Responsive */
@media (max-width: 768px) {
  .navbar__links {
    position: absolute;
    top: 100%;
    left: 0;
    width: 100%;
    background-color: #111;
    flex-direction: column;
    align-items: flex-start;
    padding: 1rem 2rem;
    display: none;
    z-index: 200;
  }

  .navbar__links.active {
    display: flex;
  }

  .navbar__toggle {
    display: block;
  }
}

.cart-sidebar {
  position: fixed;
  top: 0;
  right: 0;
  height: 100%;
  width: 360px;
  max-width: 90%;
  background-color: #fff;
  box-shadow: -2px 0 8px rgba(0, 0, 0, 0.2);
  padding: 1rem;
  overflow-y: auto;
  transform: translateX(100%);
  transition: transform 0.4s ease-in-out;
  z-index: 999;
}

.cart-sidebar.open {
  transform: translateX(0);
}

/* Botón de cerrar dentro del sidebar */
.cart-sidebar .close-btn {
  background: none;
  border: none;
  font-size: 2rem;
  position: absolute;
  top: 10px;
  right: 15px;
  cursor: pointer;
}