.panel-content {
  flex: 1;
  padding: 0.5rem;
  overflow-y: auto;
  max-width: 100%;
}

.panel-layout {
  display: flex;
  height: 100vh;
}

.icon {
  margin-right: 5px;
  font-size: 30px; 
}

.dashboard-cards {
  display: flex;
  gap: 1rem;
  flex-wrap: wrap;
  margin-bottom: 1.5rem;
  justify-content: stretch;
  width: 100%;
}
.card-label {
  font-size: 1rem;
  margin-bottom: 0.5rem;
  color: #333;
}

.card-number {
  font-size: 2rem;
  font-weight: bold;
  color: #222;
}

.highlight-orange {
  color: #f39c12;
}

.highlight-blue {
  color: #3498db;
}

.card {
  background: #fff;
  padding: 1rem;
  border-radius: 12px;
  text-align: center;
  font-weight: bold;
  font-size: 1.1rem;
  background-color: #eaf6ff;
  box-shadow: 0 2px 6px rgba(0, 0, 0, 0.08);
  transition: transform 0.2s;
  flex: 1 1 calc(25% - 1rem); /* 4 por fila con espacio */
  min-width: 160px;
  max-width: 100%;
}
.card-separator {
  display: flex;
  align-items: center;
  justify-content: center;
  font-weight: bold;
  font-size: 1.5rem;
  padding: 0 1rem;
  color: #aaa;
}

.card-separator .mobile {
  display: none;
}


.card:hover {
  transform: scale(1.03);
}

/* Snackbar */
.snackbar {
  position: fixed;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  padding: 1rem 1.5rem;
  border-radius: 8px;
  color: white;
  font-weight: bold;
  box-shadow: 0 2px 10px rgba(0,0,0,0.2);
  z-index: 1000;
  animation: fadeinout 3s forwards;
}

.snackbar-ok {
  background-color: #28a745;
}

.snackbar-error {
  background-color: #dc3545;
}

@keyframes fadeinout {
  0% {
    opacity: 0;
    bottom: 0;
  }
  10% {
    opacity: 1;
    bottom: 20px;
  }
  90% {
    opacity: 1;
    bottom: 20px;
  }
  100% {
    opacity: 0;
    bottom: 0;
  }
}

/* Cards pedidos */
.pedidos-cards {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(280px, 1fr));
  gap: 1rem;
  margin-top: 1rem;
}

.pedido-card {
  background: #fff;
  border-radius: 12px;
  padding: 1rem;
  box-shadow: 0 2px 8px rgba(0,0,0,0.1);
  font-size: 0.9rem;
  display: flex;
  flex-direction: column;
  gap: 0.2rem;
  border-left: 5px solid transparent;
  transition: box-shadow 0.3s;
  max-height: 420px; 
  overflow-y: auto;
  word-wrap: break-word
}

.pedido-card:hover {
  box-shadow: 0 4px 14px rgba(0,0,0,0.15);
}

.pedido-card[data-estado="pendiente"] {
  border-left-color: #f7a83b;
  background-color: #fff7e6;
}

.pedido-card[data-estado="en preparación"] {
  border-left-color: #b4f0b4;
  background-color: #fff7e6;
}

.pedido-card[data-estado="en reparto"] {
  border-left-color: #5bc0de;
  background-color: #e6f7ff;
}

.pedido-card[data-estado="cancelado"] {
  border-left-color: #ee7d7d;
  background-color: #e6f7ff;
}
.pedido-card p,
.pedido-card ul,
.pedido-card li {
  word-wrap: break-word;
  overflow-wrap: break-word;
  word-break: break-word;
}
.pedido-card p{
  font-size: 14px;
}
.pedido-card ul{
  margin-left: 2rem;
}
.pedido-card select {
  margin-top: 0.5rem;
  padding: 0.4rem;
  border-radius: 4px;
  border: 1px solid #ccc;
  font-size: 0.9rem;
  cursor: pointer;
}

@media (max-width: 480px) {
  .pedido-card {
    font-size: 0.85rem;
    padding: 0.75rem;
  }
   .card-separator .desktop {
    display: none;
  }
  .card-separator .mobile {
    display: block;
  }
}

@media (max-width: 600px) {
  .card {
    flex: 1 1 100%; /* 1 por fila */
  }
}

 @media (max-width: 1024px) {
  .card {
    flex: 1 1 calc(50% - 1rem); /* 2 por fila */
  }
}